In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import datetime as dt
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
conn = engine.connect()

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 


query_june = """ 
       Select date, tobs
       From Measurement
       Where 
       strftime('%m', date) = '06';
       """
       
       
#df = pd.read_sql(query, conn)
#df.head()

In [6]:
#  3. Convert the June temperatures to a list.
results = []

results = session.execute(query_june)

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['June','Temps'])

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()
#df.head()

             Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

query_dec = """ 
       Select date, tobs
       From Measurement
       Where 
       strftime('%m', date) = '12';
       """

In [10]:
# 7. Convert the December temperatures to a list.

results1 = []

results1 = session.execute(query_dec)

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df1 = pd.DataFrame(results1, columns=['Dec','Temps'])

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.

df1.describe()

             Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [20]:
# additional queries for summary rain fall June

query_junrain = """ 
       Select date, prcp
       From Measurement
       Where 
       strftime('%m', date) = '06';
       """
results2 = []

results2 = session.execute(query_junrain)
df3 = pd.DataFrame(results2, columns=['Jun','Rain'])
df3.describe()

              Rain
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [17]:
# additional queries for summary rain fall Dec

query_decrain = """ 
       Select date, prcp
       From Measurement
       Where 
       strftime('%m', date) = '12';
       """
results3 = []

results3 = session.execute(query_decrain)
df2 = pd.DataFrame(results3, columns=['Dec','Rain'])
df2.describe()

              Rain
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000

In [ ]:
from sqlalchemy import create_engine, inspect, MetaData, Table

In [ ]:

# get all tables
inspector_gadget = inspect(engine)
tables = inspector_gadget.get_table_names()
for table in tables:
    print(table)
    
    # get all columns in table
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column)
    print()